# This is parsed by multiple simplistic parsers that do not support the full gitignore syntax
# Don't introduce new syntax other than what's currently used
partyflow-config.jkson
*.db
*.log
.gradle
.metadata
.settings
.project
.classpath
.dbeaver
/build
/bin
/files
/addnformats.jkson
/buildSrc/build
/buildSrc/.gradle
