{{> _colors.hbs.css}}

*, *:before, *:after {
	box-sizing: border-box;
}
body {
	background: var(--color-B);
	color: var(--color-F);
	position: relative;
	line-height: 1.4;
	min-height: 100vh;
	margin: 0;
	font-size: 16px;
	padding-top: 80px;
	padding-bottom: 112px;
	font-family: var(--font);
	
	--icon-filter: var(--color-Bcf);
	--font: {{fontFamilyQ}}, system-ui, sans-serif;
}
a:link, a:visited {
	color: var(--color-L);
}

button {
	background: none;
}
.badge {
	width: 18px;
	height: 18px;
	vertical-align: top;
	filter: var(--icon-filter);
}

.header {
	color: var(--color-Pc);
	--icon-filter: var(--color-Pcf);
	padding: 8px;
	height: 64px;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}
.shadowed .header {
	z-index: 50;
}
.header a:link, .header a:visited, .header button.link {
	color: var(--color-Pc);
	--icon-filter: var(--color-Pcf);
}
.header a {
	text-decoration: none;
	display: inline-block;
	height: 100%;
	line-height: 48px;
	filter: drop-shadow(2px 2px 3px #0006);
}

.header a img {
	vertical-align: middle;
}

.site-name {
	vertical-align: middle;
	font-size: 24px;
}

.logo {
	height: 100%;
}

.pull-right {
	float: right;
	text-align: right;
}

footer {
	border-top: 1px var(--color-Bc) solid;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	padding: 16px;
	height: 96px;
	line-height: 1.8;
}

.partyflowlink {
	background: url({{root}}static/logo.svg), linear-gradient(#A2B, #63C);
	background-position: 0.5em center, center;
	background-size: contain, cover;
	background-repeat: no-repeat, repeat;
	padding: 4px 8px;
	border-radius: 1.5em;
	padding-left: 2.5em;
	color: #FFF !important;
}

.inner {
	max-width: 800px;
	margin: auto;
	display: block;
}
.release {
	display: block;
	padding: 8px;
	position: relative;
	text-decoration: none;
}
a.release {
	color: inherit !important;
}
.release:after {
	content: "";
	display: table;
	clear: both;
}

.release audio {
	width: calc(100% - 208px);
	margin: 16px 0;
}

.release .art {
	float: right;
	width: 192px;
	height: 192px;
}
.art > .art-img {
	width: 100%;
	height: 100%;
}
.release .art-img {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.release.editing .art {
	position: relative;
}
.js .release.editing .art input {
	position: absolute;
	opacity: 0;
	top: 0; right: 0; bottom: 0; left: 0;
	cursor: pointer;
}
.release.editing .art input {
	position: absolute;
	margin-top: 4px;
	top: 100%;
}
.release.editing .art:before {
	content: "";
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0;
	background-color: rgba(26, 35, 39, 0.5);
	background-image: url({{root}}static/upload_circle.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
	transition: opacity 0.6s;
}
.release.editing .art:focus {
	outline: none;
}
.js .release.editing .art:hover:before, .js .release.editing .art:focus-within:before {
	opacity: 1;
}

.release .title {
	font-size: 28px !important;
	font-weight: bold !important;
	width: calc(100% - 208px) !important;
}

.release .subtitle {
	font-size: 16px !important;
	font-weight: bold !important;
	width: calc(100% - 208px) !important;
}

.release .description {
	width: calc(100% - 208px) !important;
	min-height: 3em;
	resize: vertical;
	font-family: var(--font);
	font-size: 16px;
}

.lyrics {
	white-space: pre-wrap;
}

button:not([class^='ql-']) {
	border: none;
	border-radius: 2px;
	color: var(--color-Ac);
	--icon-filter: var(--color-Acf);
	background-color: var(--color-A);
	padding: 8px 16px;
	font-size: 16px;
	font-family: var(--font);
	min-height: 40px;
	min-width: 112px;
	line-height: 24px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.6s, opacity 0.4s;
}
button:not([class^='ql-']):hover:not(.disabled), button:not([class^='ql-']):focus:not(.disabled) {
	background-color: var(--color-Ab);
	color: var(--color-Abc);
	--icon-filter: var(--color-Abcf);
}
button.danger {
	background-color: #E53935;
	color: #FFF;
	--icon-filter: "";
}
button.danger:hover:not(.disabled), button.danger:focus:not(.disabled) {
	background-color: #FF1744;
	color: #FFF;
	--icon-filter: "";
}
button.good {
	background-color: #009688;
	color: #FFF;
	--icon-filter: "";
}
button.good:hover:not(.disabled), button.good:focus:not(.disabled) {
	background-color: #0DBC9D;
	color: #FFF;
	--icon-filter: "";
}
button.subdued {
	background-color: transparent;
	color: var(--color-F);
	border: 2px var(--color-Ab) solid;
	--icon-filter: var(--color-Bcf);
}
button.subdued:hover:not(.disabled), button.subdued:focus:not(.disabled) {
	color: var(--color-F);
	--icon-filter: var(--color-Bcf);
}
button.disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}

button:not([class^='ql-']) img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	filter: var(--icon-filter);
}

.md-wrapper {
	position: relative;
	width: calc(100% - 208px);
	overflow: hidden;
}
.md-wrapper textarea.description {
	width: 100% !important;
}
.md-wrapper:after {
	content: "";
	position: absolute;
	top: 0px; right: 4px;
	width: 32px; height: 24px;
	background-image: url({{root}}static/markdown.svg);
	background-size: cover;
	opacity: 0.5;
}

code {
	padding: 4px;
	border-radius: 2px;
	border: 1px var(--color-A) solid;
}

.releases .release {
	margin-bottom: 8px;
}
.releases .release .art {
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 8px;
}

.release.solo {
	padding-bottom: 96px;
}
.release .buttons {
	position: absolute;
	left: 8px;
	bottom: 8px;
}

.release.unpublished {
	background-image: repeating-linear-gradient(
		70deg,
		rgba(144, 164, 174, 0.2),
		rgba(144, 164, 174, 0.2) 16px,
		rgba(26, 35, 39, 0.2) 16px,
		rgba(26, 35, 39, 0.2) 32px
	);
}
.release.unpublished:before {
	content: "UNPUBLISHED";
	font-size: 0.75em;
	position: absolute;
	right: 8px;
	bottom: 8px;
	color: #FFF;
	font-weight: bold;
	background: #AD1457;
	border: 2px #F50057 solid;
	border-radius: 2px;
	padding: 4px;
}

:not([class^='ql-']) > input[type="text"], input[type="password"], textarea {
	background: var(--color-Bb);
	color: var(--color-F);
	--icon-filter: var(--color-Bbcf);
	border: none;
	border-bottom: 2px var(--color-F) solid;
	padding: 8px;
	font-size: 16px;
	font-family: var(--font);
	width: 100%;
}
:not([class^='ql-']) > input[type="text"]:invalid, input[type="password"]:invalid, textarea:invalid {
	box-shadow: none;
	border-bottom-color: #FF1744;
}
.bumper {
	margin-bottom: 16px;
}
.message {
	margin: auto;
	border: 3px #B0BEC5 solid;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 16px;
	border-radius: 2px;
	padding: 8px;
}
.message.error {
	background: #C62828;
	border-color: #FF1744;
}
.message.warning {
	background: #EF6C00;
	border-color: #FF9100;
}
.inline {
	display: inline;
}
button.link {
	background: none !important;
	border: none;
	padding: 0;
	margin: 0;
	display: inline;
	color: var(--color-L);
	text-decoration: underline;
	font-size: inherit;
	font-weight: normal;
	min-width: 0;
	min-height: 0;
	font-family: var(--font);
	width: auto;
	height: auto;
}

input.ghost-input, textarea.ghost-input {
	background: none !important;
	border: 1px var(--color-Ft) dashed !important;
	color: inherit;
	padding: 4px;
	display: block;
}
input.ghost-input:invalid, textarea.ghost-input:invalid {
	box-shadow: none;
	border-color: #F00;
}

.ql-container.ql-snow {
	font-size: 16px;
	font-family: var(--font);
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
	margin: revert !important;
	padding: revert !important;
}

.ql-toolbar {
	background: var(--color-P);
	color: var(--color-Pc);
	--icon-filter: var(--color-Pcf);
	height: 40px;
}
.ql-snow .ql-stroke {
	stroke: var(--color-Pc) !important;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
	fill: var(--color-Pc) !important;
}
.ql-snow .ql-picker {
	color: var(--color-Pc) !important;
}
.ql-underline > svg {
	position: relative;
	top: 0.5px;
}

.release .ql-toolbar.ql-snow {
	width: calc(100% - 208px);
	border: none;
}
.release .ql-container.ql-snow {
	background: none;
	border: 1px rgba(255, 255, 255, 0.5) dashed;
}
.ql-snow .ql-picker-options, .ql-snow .ql-tooltip {
	background: var(--color-F) !important;
	color: var(--color-B);
	border: none;
	z-index: 50;
}
.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
	color: var(--color-Ab) !important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
	stroke: var(--color-Ab) !important;
}
.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
	fill: var(--color-Ab) !important;
}
.ql-toolbar.ql-snow {
	font-family: var(--font) !important;
}

.track {
	display: block;
}
.track .title {
	font-size: 16px !important;
}
a.track:link {
	color: inherit !important;
	text-decoration: none;
}
a.track:link:hover, a.track:link:focus {
	text-decoration: underline;
}

body:not(.yesscript) .yesscript {
	display: none !important;
}
.flex-break {
	width: 0; height: 0;
	flex-basis: 100%;
}

button.player-control {
	min-width: 32px;
	width: 32px;
	min-height: 32px;
	height: 32px;
	padding: 0;
	margin: 4px;
	vertical-align: middle;
	position: relative;
}
button.player-control:after {
	content: "";
	position: absolute;
	display: block;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-position: center;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-image: var(--icon);
	filter: var(--icon-filter);
	transition: background-size 0.2s ease-in-out;
}
.player-control.loading {
	--icon: url({{root}}static/loader.svg);
}
.player-control.play {
	--icon: url({{root}}static/play.svg);
}
.player-control.pause {
	--icon: url({{root}}static/pause.svg);
}
.player-control.skip-prev {
	--icon: url({{root}}static/skip-prev.svg);
}
.player-control.skip-next {
	--icon: url({{root}}static/skip-next.svg);
}
.player-control.replaygain {
	--icon: url({{root}}static/replaygain.svg);
}
.player-control.replaygain-off {
	--icon: url({{root}}static/replaygain-off.svg);
}
.player-control.trans {
	background-size: 0 0 !important;
}
#player-widget .player-control.play-toggle {
	width: 48px;
	height: 48px;
	background-size: 32px 32px;
	border-radius: 24px;
}

#player-widget {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	padding-right: 16px;
}
#player-widget .rightside {
	flex-grow: 1;
	padding-bottom: 8px;
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
}
#player-widget .rightside .track-name {
	margin-left: 16px;
}
#player-widget .rightside .play-position {
	float: right;
	margin-right: 8px;
	flex-grow: 0;
	white-space: nowrap;
}
#player-widget .rightside .seekbar {
	margin-top: 16px;
}
#player-widget button {
	flex-shrink: 0;
	flex-grow: 0;
}
#player-widget .rightside .seekbar-outer {
	flex-basis: 100%;
}
#player-widget .rightside .track-name {
	flex-grow: 1;
	flex-basis: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.play-position {
	font-variant-numeric: tabular-nums;
}

.play-position .total {
	opacity: 0.7;
}

.player-bar.seekbar {
	flex-grow: 1;
}
.player-bar {
	margin: 0 16px;
	height: 4px;
	border-radius: 2px;
	background: #455A64;
	position: relative;
	transition: width 0.2s;
}
.player-bar .clickregion {
	position: absolute;
	top: -12px;
	left: 0px;
	right: 0px;
	bottom: -12px;
}

.player-bar.volumebar {
	width: 50%;
}

.player-bar .buffered {
	position: absolute;
	left: 0px;
	top: -1px;
	height: 6px;
	border-radius: 3px;
	background: #7986CB;
}

.player-bar .position {
	position: absolute;
	left: 0px;
	top: -2px;
	height: 8px;
	border-radius: 4px;
	background: #2196F3;
}
.player-bar .position:after {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateX(50%) translateY(-50%);
	content: "";
	background-color: #3D5AFE;
	border: 4px #90CAF9 solid;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	box-shadow: 0px 4px 8px #0003, 0px 2px 4px #000A;
}

.volicon {
	width: 24px;
	height: 24px;
	filter: var(--icon-filter);
}
.volicon path {
	transition: opacity 0.4s;
}
.volicon.danger .muted, .volicon.danger .vol2,
.volicon.high .muted, .volicon.high .danger,
.volicon.medium .vol2, .volicon.medium .muted, .volicon.medium .danger,
.volicon.low .vol2, .volicon.low .vol1, .volicon.low .muted, .volicon.low .danger,
.volicon.muted .vol2, .volicon.muted .vol1, .volicon.muted .danger {
	opacity: 0;
}

.seekbar-outer {
	display: flex;
	align-items: center;
}
.voldrop {
	display: block;
	float: right;
	position: relative;
	top: 8px;
	width: 32px;
	height: 32px;
	padding: 4px;
}
.voldrop .contents {
	position: absolute;
	display: block;
	top: 100%;
	left: -12px;
	width: 56px;
	height: 0px;
	transition: height 0.6s;
	overflow: hidden;
	border-radius: 4px;
	z-index: 10;
}
.voldrop:hover .contents, .voldrop:focus-within .contents, .voldrop.open .contents {
	height: 246px;
}
.voldrop .volumebar {
	transform-origin: 0 0;
	transform: rotate(-90deg);
	width: 160px;
	position: absolute;
	top: 218px;
	left: 10px;
}
.volumebar .position:after {
	box-shadow: -4px 0px 8px #0003, -2px 0px 4px #000a;
}
.voldrop .contents:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -5;
	top: 8px;
	left: 8px;
	right: 8px;
	height: 238px;
	background: #ECEFF1;
	box-shadow: 0px 2px 8px #000A;
	border-radius: 4px;
}
.voldrop .contents:after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 8px;
	height: 8px;
	border-bottom: 8px #ECEFF1 solid;
	border-left: 8px transparent solid;
	border-right: 8px transparent solid;
}
.voldrop .contents button {
	position: relative;
	top: 8px;
	left: 8px;
}


.lightboxable {
	position: relative;
	z-index: 50;
}
.shadowed .lightboxable {
	z-index: 200;
}
.lightboxable input {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: transparent;
	appearance: none;
	margin: 0;
	z-index: 40;
}
.lightboxable input:checked {
	position: fixed;
	background-color: #000A;
	z-index: 0;
}
.yesscript .lightboxable input:checked {
	background-color: transparent;
}
.lightboxable .shadow {
	display: none;
}
.yesscript .lightboxable .shadow {
	display: block;
	position: fixed;
	top: 0; left: 0;
	width: 0; height: 0;
	opacity: 0;
	transition: opacity 0.6s;
	background: #000A;
}
.lightboxable input:checked + * {
	position: fixed;
	top: 50% !important;
	left: 50% !important;
	transform: translateX(-50%) translateY(-50%);
	width: 80vmin !important;
	height: 80vmin !important;
	max-width: 600px;
	max-height: 600px;
}

.title .preamble {
	font-weight: normal;
}
.download h2 {
	margin-top: 32px;
	margin-bottom: 8px;
}
.formats small {
	font-size: .7em;
}
.formats {
	display: flex;
	flex-direction: column;
	clear: both;
	margin-top: 16px;
}
.formats .format {
	text-decoration: none;
	display: block;
	background-color: #CFD8DC;
	border: 4px #78909C solid;
	color: #000;
	border-radius: 8px;
	padding: 8px;
	margin-bottom: 8px;
	padding-left: 72px;
	max-width: 512px;
	background-position: 8px center;
	background-repeat: no-repeat;
	background-size: auto 56px;
}
.formats .format .name {
	font-weight: bold;
	font-size: 20px;
}
.formats .format .size {
	float: right;
	font-weight: bold;
	font-size: 18px;
	font-variant-numeric: tabular-nums;
}
.formats .format .desc {
	display: block;
}
.formats.recommended .format {
	background-color: #BBDEFB;
	border-color: #64B5F6;
}

.formats .format {
	position: relative;
	transition: filter 0.4s, opacity 1s;
}
.formats .format:after {
	transition: opacity 1s;
	content: "";
	position: absolute;
	top: -4px; left: -4px; right: -4px; bottom: -4px;
	pointer-events: none;
	opacity: 0;
	color: #FFF;
	background: #013B;
	border-radius: 8px;
}
.formats .format:before {
	content: "";
	filter: invert(100%);
	position: absolute;
	top: -4px; left: 0; right: 0; bottom: -4px;
	background-image: url({{root}}static/download.svg), url({{root}}static/lossy.png);
	background-repeat: no-repeat;
	background-size: 128px 128px, contain;
	background-position: 107% 35%, left center;
	opacity: 0.1;
}
.formats .format.lossless:before {
	background-image: url({{root}}static/download.svg), url({{root}}static/lossless.png);
}
.formats .format.uncompressed:before {
	background-image: url({{root}}static/download.svg), url({{root}}static/uncompressed.png);
}
.formats .format:hover, .formats .format:focus {
	filter: brightness(115%);
}
.formats .format:active {
	filter: brightness(125%);
}
.formats .format .note {
	font-size: 14px;
	font-weight: bold;
	opacity: 0.5;
}

.download.preparing .format {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}
.download.preparing .format.preparing {
	opacity: 1;
}
.download.preparing .format.preparing:after {
	content: "Preparing your download…";
	background-image: url({{root}}static/spinner.svg);
	background-position: center 12px;
	background-repeat: no-repeat;
	background-size: 32px;
	text-align: center;
	padding-top: 44px;
	opacity: 1;
}
.download.preparing .format.preparing.done::after {
	content: "Done";
	background-image: url(/static/check.svg);
}

#tracks {
	max-width: 512px;
}
#tracks .track a {
	color: inherit;
	text-decoration: none;
}
#tracks .track a:hover, #tracks .track a:focus {
	text-decoration: underline;
}
#tracks .track {
	position: relative;
}
#tracks .track .lyrics {
	display: block;
}
#tracks .track .lyrics summary {
	position: absolute;
	top: 2px;
	right: 0;
	list-style: none;
}
#tracks .track .lyrics summary:hover, #tracks .track .lyrics summary:focus {
	text-decoration: underline;
}
#tracks .track .lyrics[open] summary {
	font-weight: bold;
}
#tracks .track .lyrics p {
	display: block;
}

textarea {
	font-size: 16px;
}

textarea#lyrics {
	font-family: var(--font);
}

.swatches {
	display: flex;
	margin-top: 16px;
	margin-bottom: 24px;
}
.swatches .swatch {
	text-align: center;
	flex: 1;
	font-weight: bold;
}
.swatches .swatch input {
	width: 48px;
	height: 32px;
	margin-top: 8px;
	padding: 1px;
}
.swatch button {
	min-width: 32px;
	min-height: 16px;
	padding: 4px 8px;
}

.color-sample {
	isolation: isolate;
	overflow: hidden;
	border: 1px currentColor solid;
	margin-bottom: 16px;
	background: var(--color-B);
	color: var(--color-F);
	--icon-filter: var(--color-Bcf);
}
.color-sample:after {
	content: "";
	display: table;
	clear: both;
}
.color-sample .header, .color-sample footer {
	position: static;
}
.color-sample .inner {
	padding: 24px;
}