<div class="header">
	<a href="{{root}}"><img class="logo" src="{{root}}static/logo.svg" alt="Partyflow logo"/> <span class="site-name">{{siteName}}</span></a>
	<div class="pull-right">
		{{#loggedIn}}
			Logged in as {{displayName}} {{#admin}}<img class="badge" title="Administrator" src="{{root}}static/admin.svg"/>{{/admin}}<br/>
			<form class="inline" action="{{root}}logout" method="POST">
				<input type="hidden" name="csrf" value="{{csrf}}"/>
				<button class="link">Log out</button>
			</form>
		{{/loggedIn}}
		{{^loggedIn}}<a href="{{root}}login">Log in</a>{{/loggedIn}}
	</div>
</div>