<div id="player-widget" class="yesscript">
	<button class="player-control skip-prev disabled"></button>
	<button class="player-control play-toggle loading"></button>
	<button class="player-control skip-next"></button>
	<div class="player-bar seekbar">
		<div class="clickregion"></div>
		<div class="buffered" style="width: 0%"></div>
		<div class="position" style="width: 0%"></div>
	</div>
	<span class="play-position"><b class="current">0:00</b> / <span class="total">0:00</span></span>
	<div class="flex-break"></div>
	<svg class="volicon high" viewBox="0 0 24 24">
		<path d="m 3,9 v 6 h 4 l 5,5 V 4 L 7,9 Z" class="speaker" fill="#FFF"/>
		<path d="m 16.5,12 c 0,-1.77 -1,-3.29 -2.5,-4.03 V 16 c 1.5,-0.71 2.5,-2.24 2.5,-4" class="vol1" fill="#FFF"/>
		<path d="M14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.84-5 6.7v2.07c4-.91 7-4.49 7-8.77 0-4.28-3-7.86-7-8.77" class="vol2" fill="#FFF"/>
		<path d="M 16.59,12 14,9.41 15.41,8 18,10.59 20.59,8 22,9.41 19.41,12 22,14.59 20.59,16 18,13.41 15.41,16 14,14.59 Z" class="muted" fill="#FFF"/>
	</svg>
	<div class="player-bar volumebar">
		<div class="clickregion"></div>
		<div class="position" style="width: 100%"></div>
	</div>
	<button class="player-control replaygain" title="ReplayGain loudness normalization"></button>
</div>