<!DOCTYPE html>
<html>
<head>
	{{> _head.hbs.html}}
	<title>Partyflow Admin</title>
	<link rel="stylesheet" href="{{root}}static/quill.snow.css"/>
	<link id="colors-css" rel="stylesheet"/>
	<link id="bunny-css" rel="stylesheet"/>
	<style>
		form {
			max-width: 24em;
			margin: auto;
		}
	</style>
</head>
<body>
	{{> _header.hbs.html}}
	<div class="inner">
		<h1>Admin</h1>
		{{#error}}
			<div class="message error">{{error}}</div>
		{{/error}}
		<form class="inline" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="csrf" value="{{csrf}}"/>
			<div class="bumper">
				<label for="site_name">Site name</label><br/>
				<input id="site_name" name="site_name" type="text" value="{{siteName}}"/><br/>
			</div>
			<div class="bumper">
				<label>Site description</label><br/>
				<div class="md-wrapper">
				<textarea rows="16" id="site_description.md" name="site_description.md" maxlength="16384" class="description">{{descriptionMd}}</textarea>
				</div>
				<div id="quillTarget" name="site_description.html" class="description" style="display: none">{{{description}}}</div>
			</div>
			
			<h2>Design</h2>
			<div class="bumper">
				<label for="font_family">Font</label><br/>
				<input id="font_family" name="font_family" type="text" value="{{fontFamily}}" list="special_fonts"/><br/>
				<input id="bunny_font" name="bunny_font" type="checkbox" {{#bunnyFont}}checked{{/bunnyFont}}> <label for="bunny_font">Download from <a href="https://fonts.bunny.net" rel="noopener" target="_blank">Bunny Fonts</a></label>
				<datalist id="special_fonts">
					<option value="serif">
					<option value="sans-serif">
					<option value="monospace">
					<option value="cursive">
					<option value="fantasy">
					<option value="system-ui">
					<option value="ui-serif">
					<option value="ui-sans-serif">
					<option value="ui-monospace">
					<option value="ui-rounded">
					<option value="emoji">
				</datalist>
			</div>
			<h3>Palette</h3>
			These are only defaults — users can override these individually to customize how their
			releases look.
			<div class="swatches">
				<div class="swatch">
					<label for="background_color">Background</label><br/>
					<input id="background_color" name="background_color" type="color" value="{{backgroundColor}}"/><br/>
					<button data-value="#263238">Reset</button>
				</div>
				<div class="swatch">
					<label for="foreground_color">Foreground</label><br/>
					<input id="foreground_color" name="foreground_color" type="color" value="{{foregroundColor}}"/><br/>
					<button data-value="#ECEFF1">Reset</button>
				</div>
				<div class="swatch">
					<label for="primary_color">Primary</label><br/>
					<input id="primary_color" name="primary_color" type="color" value="{{primaryColor}}"/><br/>
					<button data-value="#AA22BB">Reset</button>
				</div>
				<div class="swatch">
					<label for="secondary_color">Secondary</label><br/>
					<input id="secondary_color" name="secondary_color" type="color" value="{{secondaryColor}}"/><br/>
					<button data-value="#6633CC">Reset</button>
				</div>
				<div class="swatch">
					<label for="accent_color">Accent</label><br/>
					<input id="accent_color" name="accent_color" type="color" value="{{accentColor}}"/><br/>
					<button data-value="#00E676">Reset</button>
				</div>
				<div class="swatch">
					<label for="link_color">Link</label><br/>
					<input id="link_color" name="link_color" type="color" value="{{linkColor}}"/><br/>
					<button data-value="#00B0FF">Reset</button>
				</div>
			</div>
			<div class="yesscript color-sample">
				<div class="header">
					<a href="#"><img class="logo" src="{{root}}static/logo.svg" alt="Partyflow logo"/> <span class="site-name">{{siteName}}</span></a>
					<div class="pull-right">
						Logged in as {{displayName}} <img class="badge" title="Administrator" src="{{root}}static/admin.svg"/><br/>
						<button onclick="false" class="link">Log out</button>
					</div>
				</div>
				<div class="inner release">
					<a href="https://git.sleeping.town/unascribed/Partyflow" onclick="false">Partyflow!</a>
					This is <b>some sample text</b> inside of the sample box that's available for you to
					preview your colors and fonts before you save them. <i><b>Wow!</b> That's high-tech!</i>
					<hr>
					{{> _player-widget.hbs.html }}
					<div id="tracks" style="margin-bottom: 32px" data-auto="true">
					</div>
					<a target="_blank" rel="noopener" href="https://modarchive.org/index.php?request=view_by_moduleid&query=186833">Something Sinister</a>
					by ant512, released under the
					<a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.<br/>
					Rendered by your Partyflow server using <a target="_blank" rel="noopener" href="https://github.com/martincameron/micromod">IBXM2</a>.
					<br/><br/>
					<button type="button">
						<img src="/static/eye.svg"> Test Button 1
					</button>
					<button class="good" type="button">
						<img src="/static/plus.svg"> Test Button 2
					</button>
					<button class="subdued pull-right" type="button">
						<img src="/static/list-add.svg"> Test Button 3
					</button>
				</div>
				{{> _footer.hbs.html}}
			</div>
			<div style="text-align: center">
				<button>Save</button>
			</div>
		</form>
	</div>
	<script src="{{root}}static/quill.min.js"></script>
	<script src="{{root}}assets/description-editor.js"></script>
	<script src="{{root}}assets/edit-art.js"></script>
	<script>
	const specialFonts = ['serif', 'sans-serif', 'monospace', 'cursive', 'fantasy', 'system-ui',
		'ui-serif', 'ui-sans-serif', 'ui-monospace', 'ui-rounded', 'emoji'];
	let timeout = null;
	let family = document.getElementById("font_family");
	let colorCss = document.getElementById("colors-css");
	let bunnyCheckbox = document.getElementById("bunny_font");
	let bunnyCss = document.getElementById("bunny-css");
	function update() {
		colorCss.href = "{{root}}assets/colors.css?"+Object.entries(params).map(a => a.map(encodeURIComponent).join("=")).join("&");
		if (specialFonts.includes(family.value)) {
			bunnyCheckbox.checked = false;
			bunnyCheckbox.disabled = true;
		} else {
			bunnyCheckbox.disabled = false;
		}
		if (bunnyCheckbox.checked) {
			bunnyCss.href = "https://fonts.bunny.net/css?family="+family.value.toLowerCase().replace(' ', '-')+":400,400i,700,700i";
		} else {
			bunnyCss.href = "";
		}
		wrapper.style.fontFamily = family.value;
	}
	let params = {};
	document.querySelectorAll(".swatch input").forEach(e => {
		params[e.name] = e.value;
		e.addEventListener("input", () => {
			params[e.name] = e.value;
			clearTimeout(timeout);
			setTimeout(update, 500);
		});
	});
	document.querySelectorAll(".swatch button").forEach(e => {
		e.addEventListener("click", ev => {
			let inp = e.parentNode.querySelector("input");
			inp.value = e.dataset.value;
			inp.dispatchEvent(new CustomEvent("input"));
			ev.preventDefault();
		});
	});
	let wrapper = document.querySelector(".color-sample");
	wrapper.style.fontFamily = family.value;
	family.addEventListener("input", () => {
		clearTimeout(timeout);
		setTimeout(update, 1000);
	});
	bunnyCheckbox.addEventListener("input", () => {
		clearTimeout(timeout);
		setTimeout(update, 500);
	});
	let siteName = document.getElementById("site_name");
	let siteSpan = document.querySelector(".color-sample > .header > a > span");
	siteName.addEventListener("input", () => {
		siteSpan.textContent = siteName.value;
	});
	siteSpan.textContent = siteName.value;
	update();
	</script>
	<script data-loudness="-11.7" data-formats="{{stream_formats_json}}" data-override-slug="__samplesong"
				data-tracks='[
					{
						"title": "Something Sinister",
						"subtitle": "Intro",
						"slug": "__samplesong1",
						"art": null,
						"start": 0,
						"end": 12.79
					},
					{
						"title": "Something Sinister",
						"subtitle": "A",
						"slug": "__samplesong2",
						"art": null,
						"start": 12.79,
						"end": 38.4
					},
					{
						"title": "Something Sinister",
						"subtitle": "A → B",
						"slug": "__samplesong3",
						"art": null,
						"start": 38.4,
						"end": 51.19
					},
					{
						"title": "Something Sinister",
						"subtitle": "B",
						"slug": "__samplesong4",
						"art": null,
						"start": 51.19,
						"end": 75.19
					},
					{
						"title": "Something Sinister",
						"subtitle": "B → A",
						"slug": "__samplesong5",
						"art": null,
						"start": 75.19,
						"end": 87.99
					},
					{
						"title": "Something Sinister",
						"subtitle": "A (Reprise)",
						"slug": "__samplesong6",
						"art": null,
						"start": 87.99,
						"end": 118.4
					}
				]'
				src="{{root}}assets/gapless-player.js"></script>
	{{> _footer.hbs.html}}
</body>
</html>