<!DOCTYPE html>
<html>
<head>
	{{> _head.hbs.html}}
	<title>Create release - Partyflow</title>
</head>
<body>
	{{> _header.hbs.html}}
	<div class="inner">
		<h1>Create a new release</h1>
		{{#error}}
			<div class="message error">{{error}}</div>
		{{/error}}
		<form class="release editing" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="csrf" value="{{csrf}}"/>
			<input name="title" required maxlength="255" type="text" class="ghost-input title" placeholder="Title"/>
			<input name="subtitle" maxlength="255" type="text" class="ghost-input subtitle" placeholder="Subtitle"/>
			<div class="creator">By {{displayName}}</div>
			<button style="margin-top: 8px" class="good" type="submit">
				<img src="{{root}}static/plus.svg"/>
				Create
			</button>
		</form>
	</div>
	{{> _footer.hbs.html}}
</body>
</html>