<!DOCTYPE html>
<html>
<head>
	{{> _head.hbs.html}}
	<title>{{title}} - Partyflow</title>
	{{#editable}}
		<link rel="stylesheet" href="{{root}}static/quill.snow.css"/>
	{{/editable}}
</head>
<body>
	{{> _header.hbs.html}}
	<div class="inner">
		{{#editable}}
		<noscript>
			<div class="message">
				You have JavaScript disabled. This page does not have load-bearing JavaScript, so things
				will more or less work correctly. Changing the album art will not be immediately visible,
				however, and the description editor uses Markdown and doesn't auto-resize.
			</div>
		</noscript>
		{{#error}}
			<div class="message error">{{error}}</div>
		{{/error}}
		{{/editable}}
		<div class="release solo{{^published}} unpublished{{/published}}{{#editable}} editing{{/editable}}">
			{{^editable}}
			<div class="art" style="background-image: url({{art}})"></div>
			<div class="title">{{title}}</div>
			<div class="subtitle">{{subtitle}}</div>
			<div class="creator">By {{creator}}</div>
			<i style="display: inline-block; margin: 16px">Tracks go here</i>
			<div class="description">{{{description}}}</div>
			{{/editable}}
			{{#editable}}
			<form class="inline" method="POST" enctype="multipart/form-data" action="{{root}}releases/{{slug}}/edit">
				<input type="hidden" name="csrf" value="{{csrf}}"/>
				<div class="art" style="background-image: url({{art}})">
					<input name="art" type="file" class="replaceArt" accept=".png,.jpeg,.jpg,.jpe,.jfif,image/png,image/jpeg"/>
				</div>
				<input name="title" required maxlength="255" type="text" class="ghost-input title" placeholder="Title" value="{{title}}"/>
				<input name="subtitle" maxlength="255" type="text" class="ghost-input subtitle" placeholder="Subtitle" value="{{subtitle}}"/>
				<div class="creator">By {{creator}}</div>
				<button class="subdued" style="margin: 8px 0" name="addTrack" type="submit">
					<img src="{{root}}static/list-add.svg"/>
					Add track
				</button>
				<div class="md-wrapper">
				<textarea rows="16" id="descriptionMd" name="descriptionMd" maxlength="16384" class="ghost-input description" placeholder="Description">{{descriptionMd}}</textarea>
				</div>
				<div id="quillTarget" class="description" style="display: none">{{{description}}}</div>
				<div class="buttons" style="z-index: 2">
					<button type="submit">
						<img src="{{root}}static/save.svg"/>
						Save
					</button>
					{{^published}}
						<button class="good" name="publish">
							<img src="{{root}}static/eye.svg"/>
							Save & Publish
						</button>
					{{/published}}
				</div>
			</form>
			<div class="buttons" style="text-align: right; width: 100%; padding-right: 16px;">
				{{^published}}
					<form class="inline" action="{{root}}releases/{{slug}}/delete" method="POST">
						<input type="hidden" name="csrf" value="{{csrf}}"/>
						<button class="danger">
							<img src="{{root}}static/trash.svg"/>
							Delete
						</button>
					</form>
				{{/published}}
				{{#published}}
					<form class="inline" action="{{root}}releases/{{slug}}/unpublish" method="POST">
						<input type="hidden" name="csrf" value="{{csrf}}"/>
						<button class="danger">
							<img src="{{root}}static/eye-off.svg"/>
							Unpublish
						</button>
					</form>
				{{/published}}
			</div>
			<script src="{{root}}static/quill.min.js"></script>
			<script src="{{root}}assets/description-editor.js"></script>
			<script src="{{root}}assets/edit-art.js"></script>
			{{/editable}}
		</div>
	</div>
	{{> _footer.hbs.html}}
</body>
</html>