<!DOCTYPE html>
<html>
<head>
	{{> _head.hbs.html}}
	<title>All releases - Partyflow</title>
</head>
<body>
	{{> _header.hbs.html}}
	<div class="inner">
		<h1>All releases</h1>
		<div class="releases">
			{{^releases}}
				<div class="no-releases">
					No releases here!
				</div>
			{{/releases}}
			{{#releases}}
			<a class="release{{^published}} unpublished{{/published}}" href="{{root}}releases/{{slug}}">
				<div class="art" style="background-image: url({{art}})"></div>
				<div class="title">{{title}}</div>
				<div class="subtitle">{{subtitle}}</div>
				<div class="creator">By {{creator}}</div>
			</a>
			{{/releases}}
		</div>
	</div>
	{{> _footer.hbs.html}}
</body>
</html>