<!DOCTYPE html>
<html>
<head>
	{{> _head.hbs.html}}
	<title>{{title}} by {{creator}} - Partyflow</title>
	{{#editable}}
		<link rel="stylesheet" href="{{root}}static/quill.snow.css"/>
	{{/editable}}
</head>
<body>
	{{> _header.hbs.html}}
	<div class="inner">
		{{#editable}}
		<noscript>
			<div class="message">
				You have JavaScript disabled. This page does not have load-bearing JavaScript, so things
				will more or less work correctly. Changing the album art will not be immediately visible,
				however, and the description editor uses Markdown and doesn't auto-resize.
			</div>
		</noscript>
		{{#error}}
			<div class="message error">{{error}}</div>
		{{/error}}
		{{/editable}}
		<div class="release solo{{^published}} unpublished{{/published}}{{#editable}} editing{{/editable}}">
			{{^editable}}
			<div class="art" style="background-image: url({{art}})"></div>
			<div class="title">{{title}}</div>
			<div class="subtitle">{{subtitle}}</div>
			<div class="creator">By {{creator}}</div>
			{{#doneProcessing}}
			<noscript>
			<i>Enable JavaScript to play the entire album with gapless playback.</i>
			</noscript>
			<div id="player-widget" class="yesscript">
				<button class="player-control skip-prev disabled"></button>
				<button class="player-control play-toggle loading"></button>
				<button class="player-control skip-next"></button>
				<div class="player-bar seekbar">
					<div class="clickregion"></div>
					<div class="buffered" style="width: 0%"></div>
					<div class="position" style="width: 0%"></div>
				</div>
				<span class="play-position"><b class="current">0:00</b> / <span class="total">0:00</span></span>
				<div class="flex-break"></div>
				<svg class="volicon high" viewBox="0 0 24 24">
					<path d="m 3,9 v 6 h 4 l 5,5 V 4 L 7,9 Z" class="speaker" fill="#FFF"/>
					<path d="m 16.5,12 c 0,-1.77 -1,-3.29 -2.5,-4.03 V 16 c 1.5,-0.71 2.5,-2.24 2.5,-4" class="vol1" fill="#FFF"/>
					<path d="M14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.84-5 6.7v2.07c4-.91 7-4.49 7-8.77 0-4.28-3-7.86-7-8.77" class="vol2" fill="#FFF"/>
					<path d="M 16.59,12 14,9.41 15.41,8 18,10.59 20.59,8 22,9.41 19.41,12 22,14.59 20.59,16 18,13.41 15.41,16 14,14.59 Z" class="muted" fill="#FFF"/>
				</svg>
				<div class="player-bar volumebar">
					<div class="clickregion"></div>
					<div class="position" style="width: 100%"></div>
				</div>
			</div>
			{{/doneProcessing}}
			{{^doneProcessing}}
			<i>This release is still processing.</i> Check back in a few moments.
			{{/doneProcessing}}
			<div id="tracks">
			{{#tracks}}
				<a href="{{root}}track/{{slug}}" class="track" data-track-slug="{{slug}}">
					<button class="yesscript player-control play"></button>
					<span class="trackNumber">{{track_number}}.</span>
					<span class="title">{{title}}</span>
					<span class="subtitle">{{subtitle}}</span>
					<span class="track-duration"></span>
				</a>
			{{/tracks}}
			</div>
			{{#doneProcessing}}
			<script data-loudness="{{albumLoudness}}" data-release-slug="{{slug}}"
				data-formats="{{stream_formats_json}}" data-tracks="{{tracks_json}}"
				src="{{root}}assets/gapless-player.js"></script>
			{{/doneProcessing}}
			<div class="description">{{{description}}}</div>
			{{/editable}}
			{{#editable}}
			<form class="inline" method="POST" enctype="multipart/form-data" action="{{root}}releases/{{slug}}/edit">
				<input type="hidden" name="csrf" value="{{csrf}}"/>
				<div class="art" style="background-image: url({{art}})">
					<input name="art" type="file" class="replaceArt" accept=".png,.jpeg,.jpg,.jpe,.jfif,image/png,image/jpeg"/>
				</div>
				<input name="title" required maxlength="255" type="text" class="ghost-input title" placeholder="Title" value="{{title}}"/>
				<input name="subtitle" maxlength="255" type="text" class="ghost-input subtitle" placeholder="Subtitle" value="{{subtitle}}"/>
				<div class="creator">By {{creator}}</div>
				{{#tracks}}
					<a href="{{root}}track/{{slug}}" class="track">
						<span class="trackNumber">{{track_number}}.</span>
						<span class="title">{{title}}</span>
						<span class="subtitle">{{subtitle}}</span>
					</a>
				{{/tracks}}
				<button class="subdued" style="margin: 8px 0" name="addTrack" type="submit">
					<img src="{{root}}static/list-add.svg"/>
					Add {{#has_tracks}}more {{/has_tracks}}tracks
				</button>
				<div class="md-wrapper">
				<textarea rows="16" id="descriptionMd" name="descriptionMd" maxlength="16384" class="ghost-input description" placeholder="Description">{{descriptionMd}}</textarea>
				</div>
				<div id="quillTarget" class="description" style="display: none">{{{description}}}</div>
				<div class="buttons" style="z-index: 2">
					<button type="submit">
						<img src="{{root}}static/save.svg"/>
						Save
					</button>
					{{^published}}
						<button class="good" name="publish">
							<img src="{{root}}static/eye.svg"/>
							Save & Publish
						</button>
					{{/published}}
				</div>
			</form>
			<div class="buttons" style="text-align: right; width: 100%; padding-right: 16px;">
				{{^published}}
					<form class="inline" action="{{root}}releases/{{slug}}/delete" method="POST">
						<input type="hidden" name="csrf" value="{{csrf}}"/>
						<button class="danger">
							<img src="{{root}}static/trash.svg"/>
							Delete
						</button>
					</form>
				{{/published}}
				{{#published}}
					<form class="inline" action="{{root}}releases/{{slug}}/unpublish" method="POST">
						<input type="hidden" name="csrf" value="{{csrf}}"/>
						<button class="danger">
							<img src="{{root}}static/eye-off.svg"/>
							Unpublish
						</button>
					</form>
				{{/published}}
			</div>
			<script src="{{root}}static/quill.min.js"></script>
			<script src="{{root}}assets/description-editor.js"></script>
			<script src="{{root}}assets/edit-art.js"></script>
			{{/editable}}
		</div>
	</div>
	{{> _footer.hbs.html}}
</body>
</html>